.cd-button {
}

  .cd-button--link {
    cursor: pointer;
    border: 0;
    background: transparent;
  }

  svg {
    width: 100%;
  }

.path--background {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.label {
  font: 24px sans-serif;
  text-anchor: middle;
}
